<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div id="contentDiv" style="clear: right;">
  <nav style="clear: right;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab"
         aria-controls="nav-files" aria-selected="true">Files</a>
      <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab"
         aria-controls="nav-notes" aria-selected="false">Notes</a>
      <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials"
         role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
    </div>
  </nav>
</div>
</body>
</html>